body{margin: 100px;}
h1{border: 1px solid black;
    margin: 0 auto;
    width: 500px;
    text-align: center;}
h2{color:darkgray;}
img{border: 1px solid black;
    margin: 0 auto;
    width: 1000px;
    : center;}
body{background-color:cornsilk;}
h2{text-underline-position: ;}